* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F7FB;
    font-family: "Inter", sans-serif;
    color: #293264;
}

button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #293264;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.background-shapes {
    display: none;
}

.yellow-blob {
    position: absolute;
    z-index: -1;
    transform: rotate(-40deg);
    height: 100vh;
    top: -34vh;
    right: -40vh;
}

.blue-blob {
    position: absolute;
    z-index: -1;
    height: 100vh;
    transform: rotate(130deg);
    bottom: -34vh;
    left: -30vh;
}

main {
    height: 100vh;
}

.questions-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.start-page > h1 {
    font-family: "Karla", sans-serif;
    font-size: 2rem;
}

.start-page > p {
    font-size: 1rem;
    margin-top: 1rem;
}

.start-page > button {
    color: #F5F7FB;
    background-color: #4D5B9E;
    height: 3.2rem;
    width: 12rem;
    margin-top: 2rem;
}

.trivia-card {
    margin-bottom: 18px;
}

hr {
    border: 0.8px solid #DBDEF0;
}

.question {
    font-family: "Karla", sans-serif;
    font-size: 1.5rem;
}

.answer-buttons {
    display: flex;
    margin: 18px 0;
}

.answer-button {
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    padding: 0.25rem 0.75rem;
    margin-right: 18px;
}

.questions-bottom {
    display: flex;
    align-items: baseline;
}

.score {
    margin-right: 36px;
}

.submit-button {
    background-color: #4D5B9E;
    color: #F5F7FB;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    padding: 0.75rem 1.5rem;
    justify-self: center;
    margin-top: 16px;
}